@font-face{
    font-family: "Antique Quest St";
    src: url('../font/AntiqueQuestSt.ttf')
}


html{
    background-image: url('../images/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    height: 100%;
}

body{
    background-color: beige;
    border:5px solid khaki ;
    border-radius: 5px;
    width: 90%;
    height: 95%;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    padding: 5px;
}

footer{
    height: auto;
}

main{
    width: 95%;
    height: 80%;
    position: relative;
}

#left-side, #right-side{
    width:49%;
    position: absolute;
}

#left-side{
    left: 0;
    height: 100%;
}
#right-side{
    right: 0;
    height: 100%;
}

.equidistant-container{
    width:100%;
    height:auto;
    display:flex;
    justify-content: space-evenly;
}

.equidistant-container div{
    width: 40%;
}

.list-box{
    font-size: 1em;
    width:100%;
    height:50%;
    margin: 10px;
    border: 1px solid black;
    overflow-y: auto;
    box-shadow: gray 2px 2px;
}

#monster-list{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: whitesmoke;
}

#favorite-box{
    float: left;
    height: 10%;
    margin: 200px;
}

button{
    float: left;
    margin: 10px;
    width: 20%;
}

#monster-stats{
    height: 70%;
}

.monster-box{
    width: 96%;
    margin: auto;
    margin-bottom: 2px;
    padding: 10px;
    height:10%;
    border: 1px solid black;
    border-radius:10px;
    
}

.monster-box:hover{
    background-color: rgb(189, 189, 176);
}

h1, h2, h3{
    font-family: "Antique Quest St", sans-serif;
}

.inactive-search{
    color:gray;
}

.hoverable-text{
    display: inline-block;
    padding-left: 10px;
}
.centered{
    text-align: center;
}

.hoverable-text:hover{
    text-decoration: underline;
    font-weight: bold;
}

.StatsBox{
    padding: 5px;
    width:90%;
    margin:auto;
    border-bottom: 1px dotted black;
}

#loadingPage{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#font{
	height:0;
	width:0;
	overflow:hidden;
}